<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>

    </header>

    <div class="container" style="padding-top:50px;">


             <div class="row">
                <label class="col-sm-3">Room</label>
                <label class="col-sm-6" >Description</label>
                <label class="col-sm-1">Capacity</label>
                <label class="col-sm-2">Create Room</label>
             </div>

    </div>

    <div class="container">

            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
    </div>

    <div class="container" style="padding-bottom:100px;">
            <div class="row">
               <form action="/room/create" method="post">
                <div class="col-sm-3"  > <input type="text" class="form-control" id="inputRoom" placeholder="Room name" name="room" pattern ="[a-zA-Z0-9]+" required> </div>
                <div class="col-sm-6"> <input type="text" class="form-control" id="inputDescr" placeholder="Description" name="descr" > </div>
                <div class="col-sm-1" style="padding-top:20px;"> 2</div>
                <div class="col-sm-2"> <button class="button" id="btn" type="submit"  <%= user? "":"disabled"%> id="inputBtn" ">Create</button> </div>

               </form>
            </div>

    </div>


    <div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th><i class="material-icons">&#xe7f8;</i>Room Name </th>
            <th><i class="material-icons">&#xe873;</i>Room Description</th>
            <th><i class="material-icons">&#xe7fb;</i>capacity</th>
            <th><i class="material-icons">&#xe7f0;</i>Join</th>
            <th><i class="material-icons">&#xe16c;</i>Delete</th>
          </tr>
        </thead>

        <tbody>
        <% for (var id in rooms) {%>
        <% if(rooms[id]){ %>
          <tr>
            <td><%=rooms[id].name%></td>
            <td><%=rooms[id].descr%></td>
            <td><%=rooms[id].user.length%>/2</td>
            <td> <% if(rooms[id].user.length < 2){%> <a href="<%= '/room/'+rooms[id].name%>"  <%= user? "":"disabled"%>" >Join</a> <% } else { %> <a href="<%= '/room/'+rooms[id].name%>" >Full</a> <%}%> </td>
            <td><button class="buttonD" <%= user? "":"disabled"%>" onclick="deleteRoom('<%=rooms[id].name%>');return false;">Delete</button></td>
          </tr>
          <% }%>
          <%}%>
        </tbody>

      </table>
    </div>




    <script>

        function deleteRoom(roomId){
            console.log('delete'+roomId)
            var init = { method: 'DELETE',
                         credentials: 'same-origin'};
            fetch('/room/'+roomId,init)
            .then(res => {location.reload();})
        }


    </script>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
